.userTable {
    width: 100%; 
    max-width: 800px; 
    background-color: white;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
    border-radius: 5px;
    margin: 50px auto; 
    padding: 20px;
    box-sizing: border-box; 
    overflow: hidden;
}

.userTable table {
    width: 100%; 
    margin-top: 30px;
    border-collapse: collapse;
    box-sizing: border-box;
    table-layout: fixed; 
    word-wrap: break-word; 
}

.userTable table thead th,
.userTable table tbody td {
    padding: 10px;
    text-align: center;
    word-wrap: break-word; 
}

.userTable table thead th {
    background-color: darkblue;
    color: white;
}

.addButton {
    text-decoration: none;
    background-color: purple;
    color: white;
    font-weight: 500;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    margin-bottom: 20px;
}

.actionButtons {
    display: flex;
    justify-content: center; 
    gap: 15px; 
}


.actionButtons img {
    cursor: pointer;
}

.deleteLogo:hover {
    cursor: pointer;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .userTable {
        padding: 15px;
        width: 100%; 
    }

    .addButton {
        padding: 8px;
        font-size: 14px;
    }

    .userTable table {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .userTable {
        padding: 10px;
        width: 100%; 
    }

    .addButton {
        padding: 6px;
        font-size: 12px;
    }

    .userTable table {
        font-size: 12px;
    }

    .actionButtons button {
        padding: 6px;
        font-size: 12px;
    }

    .actionButtons a {
        padding: 6px;
        font-size: 12px;
    }
}


@media (max-width: 480px) {
    .userTable {
        overflow-x: auto; 
    }

    .userTable table {
        width: 100%;
    }
}
